<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<!-- begin::Head -->
	<head>


		<!--end::Base Path -->
		<meta charset="utf-8" />
		<title>您访问的页面不存在</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--begin::Fonts -->
		<script src="https://cdn.bootcss.com/webfont/1.6.16/webfontloader.js"></script>
		<script>
			WebFont.load({
				google: {
					"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
				},
				active: function() {
					sessionStorage.fonts = true;
				}
			});
		</script>

		<!--end::Fonts -->

		<!--begin::Page Custom Styles(used by this page) -->
		<link th:href="@{/css/pages/general/error/error-1.css}" rel="stylesheet" type="text/css" />

		<!--end::Page Custom Styles -->
		<!--begin::Global Theme Styles(used by all pages) -->
		<link th:href="@{/css/style.bundle.css}" rel="stylesheet" type="text/css" />

		<!--end::Global Theme Styles -->

		<!--begin::Layout Skins(used by all pages) -->
		<link th:href="@{/css/skins/header/base/light.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/skins/header/menu/light.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/skins/brand/dark.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/skins/aside/dark.css}" rel="stylesheet" type="text/css" />

		<!--end::Layout Skins -->

	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
	<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v1" th:style="'background-image: url('+ @{/media/error/bg1.jpg}+');'">
				<div class="kt-error-v1__container">
					<h1 class="kt-error-v1__number">404</h1>
					<p class="kt-error-v1__desc">
						您的页面飞了。。
					</p>
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Global Config(global config for global JS sciprts) -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#5d78ff",
						"dark": "#282a3c",
						"light": "#ffffff",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
						"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
					}
				}
			};
		</script>

		<!-- end::Global Config -->

	</body>

	<!-- end::Body -->
</html>