<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- begin::Head -->
<head>


    <!--end::Base Path -->
    <meta charset="utf-8"/>
    <title>Personal Information</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <!--<script src="https://cdn.bootcss.com/webfont/1.6.16/webfontloader.js"></script>-->
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Asap+Condensed:500"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Fonts -->

    <link th:href="@{/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css}" rel="stylesheet" type="text/css"/>


    <link th:href="@{/assets/vendors/general/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet"
          type="text/css"/>


    <link th:href="@{/assets/vendors/general/tether/dist/css/tether.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-timepicker/css/bootstrap-timepicker.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-select/dist/css/bootstrap-select.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css}"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/select2/dist/css/select2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/ion-rangeslider/css/ion.rangeSlider.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/nouislider/distribute/nouislider.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/owl.carousel/dist/assets/owl.carousel.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/owl.carousel/dist/assets/owl.theme.default.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/dropzone/dist/dropzone.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/summernote/dist/summernote.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/bootstrap-markdown/css/bootstrap-markdown.min.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/general/animate.css/animate.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/toastr/build/toastr.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/morris.js/morris.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/sweetalert2/dist/sweetalert2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/socicon/css/socicon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/custom/vendors/line-awesome/css/line-awesome.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/vendors/custom/vendors/flaticon/flaticon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/custom/vendors/flaticon2/flaticon.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/vendors/general/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet"
          type="text/css"/>


    <link th:href="@{/assets/css/demo11/style.bundle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/mycss/index.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/mycss/create_new_client.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/assets/media/logos/favicon.ico}"/>
</head>

<!-- end::Head -->

<!-- begin::Body -->
<body class="kt-page--fluid kt-page-content-white kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->

<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <div th:insert="~{navbar :: navmenu}"></div>
            <div class="kt-container kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-grid--stretch"
                 id="kt_body">

                <div th:insert="~{asidebar :: asidemenu}"></div>

                <div id="right_content" class="kt-holder kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                    <!-- begin:: Content -->
                    <div id="content" class="kt-content kt-grid__item kt-grid__item--fluid">
                        <div class="kt-portlet kt-portlet--tab" style="margin-top: 35px">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Monthly Performance
                                    </h3>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="kt-widget12">
                                    <div class="kt-widget12__content">
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Sales Order Qty.</span>
                                                <span class="kt-widget12__value" th:text="${pef.getOrder_quantity()}"></span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Inquiry-to-Order Conversion Rate</span>
                                                <span class="kt-widget12__value" th:text="${pef.getConversion_rate()}"></span>
                                            </div>
                                        </div>
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Total Revenue</span>
                                                <span class="kt-widget12__value" th:text="${'$'+pef.getTotal_revenue()}"></span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">Total Profit</span>
                                                <span class="kt-widget12__value" th:text="${'$'+pef.getTotal_profit()}"></span>
                                            </div>
                                        </div>
                                        <div class="kt-widget12__item">
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">New Client Qty.</span>
                                                <span class="kt-widget12__value" th:text="${pef.getNew_client_quantity()}"></span>
                                            </div>
                                            <div class="kt-widget12__info">
                                                <span class="kt-widget12__desc">OKR Completion</span>
                                                <span class="kt-widget12__progress">
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar kt-bg-brand" role="progressbar"  th:attr="aria-valuenow=${pef.getOkr()},style='width:'+${pef.getOkr()}+'%'"  aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    <span class="kt-widget12__stat" th:text="${pef.getOkr()+'%'}">

                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="kt-portlet kt-portlet--height-fluid">
                            <div class="kt-portlet__head">
                                <div class="kt-portlet__head-label">
                                    <h3 class="kt-portlet__head-title">
                                        Best Sellers
                                    </h3>
                                </div>
                                <div class="kt-portlet__head-toolbar">
                                    <ul class="nav nav-pills nav-pills-sm nav-pills-label nav-pills-bold" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#kd_content" role="tab">
                                                KD
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#pg_content" role="tab">
                                                PG
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#st_content" role="tab">
                                                ST
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#fn_content" role="tab">
                                                FN
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#bb_content" role="tab">
                                                BB
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="kt-portlet__body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="kd_content" aria-expanded="true">
                                        <div class="kt-widget5">
                                            <div class="kt-widget5__item" th:each="kd,sellstatus : ${sell.kdProduct}">
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__pic">
                                                        <img class="kt-widget7__img" style="width:110px;height:80px;" th:src="@{/img/{pid}(pid=${kd.getPid()+'.jpg'})}" alt="">
                                                    </div>
                                                    <div class="kt-widget5__section">
                                                        <a href="#" class="kt-widget5__title" th:text="${kd.getPname()}"></a>
                                                        <p class="kt-widget5__desc" th:text="${kd.getPcategory()}"></p>
                                                        <div class="kt-widget5__info">
                                                            <span>Product No:</span>
                                                            <span class="kt-font-info" th:text="${kd.getPno()}"></span>
                                                            <span>Price:</span>
                                                            <span class="kt-font-info" th:text="${'$'+kd.getPrice()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number" th:text="${kd.getTotalsale()}"></span>
                                                        <span class="kt-widget5__sales">sales</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="pg_content" aria-expanded="true">
                                        <div class="kt-widget5">
                                            <div class="kt-widget5__item" th:each="pg,sellstatus : ${sell.pgProduct}">
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__pic">
                                                        <img class="kt-widget7__img" style="width:110px;height:80px;"  th:src="@{/img/{pid}(pid=${pg.getPid()+'.jpg'})}" alt="">
                                                    </div>
                                                    <div class="kt-widget5__section">
                                                        <a href="#" class="kt-widget5__title" th:text="${pg.getPname()}"></a>
                                                        <p class="kt-widget5__desc" th:text="${pg.getPcategory()}"></p>
                                                        <div class="kt-widget5__info">
                                                            <span>Product No:</span>
                                                            <span class="kt-font-info" th:text="${pg.getPno()}"></span>
                                                            <span>Price:</span>
                                                            <span class="kt-font-info" th:text="${'$'+pg.getPrice()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number" th:text="${pg.getTotalsale()}"></span>
                                                        <span class="kt-widget5__sales">sales</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="st_content" aria-expanded="true">
                                        <div class="kt-widget5">
                                            <div class="kt-widget5__item" th:each="st,sellstatus : ${sell.stProduct}">
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__pic">
                                                        <img class="kt-widget7__img" style="width:110px;height:80px;" th:src="@{/img/{pid}(pid=${st.getPid()+'.jpg'})}" alt="">
                                                    </div>
                                                    <div class="kt-widget5__section">
                                                        <a href="#" class="kt-widget5__title" th:text="${st.getPname()}"></a>
                                                        <p class="kt-widget5__desc" th:text="${st.getPcategory()}"></p>
                                                        <div class="kt-widget5__info">
                                                            <span>Product No:</span>
                                                            <span class="kt-font-info" th:text="${st.getPno()}"></span>
                                                            <span>Price:</span>
                                                            <span class="kt-font-info" th:text="${'$'+st.getPrice()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number" th:text="${st.getTotalsale()}"></span>
                                                        <span class="kt-widget5__sales">sales</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="fn_content" aria-expanded="true">
                                        <div class="kt-widget5">
                                            <div class="kt-widget5__item" th:each="fn,sellstatus : ${sell.fnProduct}">
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__pic">
                                                        <img class="kt-widget7__img" style="width:110px;height:80px;" th:src="@{/img/{pid}(pid=${fn.getPid()+'.jpg'})}" alt="">
                                                    </div>
                                                    <div class="kt-widget5__section">
                                                        <a href="#" class="kt-widget5__title" th:text="${fn.getPname()}"></a>
                                                        <p class="kt-widget5__desc" th:text="${fn.getPcategory()}"></p>
                                                        <div class="kt-widget5__info">
                                                            <span>Product No:</span>
                                                            <span class="kt-font-info" th:text="${fn.getPno()}"></span>
                                                            <span>Price:</span>
                                                            <span class="kt-font-info" th:text="${'$'+fn.getPrice()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number" th:text="${fn.getTotalsale()}"></span>
                                                        <span class="kt-widget5__sales">sales</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="bb_content" aria-expanded="true">
                                        <div class="kt-widget5">
                                            <div class="kt-widget5__item" th:each="bb,sellstatus : ${sell.bbProduct}">
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__pic">
                                                        <img class="kt-widget7__img" style="width:110px;height:80px;" th:src="@{/img/{pid}(pid=${bb.getPid()+'.jpg'})}" alt="">
                                                    </div>
                                                    <div class="kt-widget5__section">
                                                        <a href="#" class="kt-widget5__title" th:text="${bb.getPname()}"></a>
                                                        <p class="kt-widget5__desc" th:text="${bb.getPcategory()}"></p>
                                                        <div class="kt-widget5__info">
                                                            <span>Product No:</span>
                                                            <span class="kt-font-info" th:text="${bb.getPno()}"></span>
                                                            <span>Price:</span>
                                                            <span class="kt-font-info" th:text="${'$'+bb.getPrice()}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="kt-widget5__content">
                                                    <div class="kt-widget5__stats">
                                                        <span class="kt-widget5__number" th:text="${bb.getTotalsale()}"></span>
                                                        <span class="kt-widget5__sales">sales</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- end:: Page -->


<!-- begin::Scrolltop -->
<div id="kt_scrolltop" class="kt-scrolltop">
    <i class="fa fa-arrow-up"></i>
</div>

<!-- end::Scrolltop -->


<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#5d78ff",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!-- end::Global Config -->

<script th:src="@{/assets/vendors/general/jquery/dist/jquery.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/popper.js/dist/umd/popper.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/js-cookie/src/js.cookie.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/moment/min/moment.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/sticky-js/dist/sticky.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/vendors/general/wnumb/wNumb.js}" type="text/javascript"></script>


<script th:src="@{/assets/js/demo11/scripts.bundle.js}" type="text/javascript"></script>


<script th:src="@{/assets/js/demo11/pages/dashboard.js}" type="text/javascript"></script>


<script th:src="@{/assets/vendors/general/nouislider/distribute/nouislider.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/demo11/pages/dashboard.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/myjs/myspacechart.js}" type="text/javascript"></script>


<!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>