<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koliday.sap.mapper.InventoryMapper">

    <select id="getAllPlant" resultType="com.koliday.sap.dto.PlantDTO">
         select * from plant;
    </select>

    <select id="getWarehouse" resultType="com.koliday.sap.dto.WarehouseDTO">
        select * from warehouse where plid=#{plid};
    </select>


    <select id="getInventory" resultType="com.koliday.sap.dto.InventoryDTO">
        select ivtid,
        whid,
        pid,
        (select pname from product where pid=inventory.pid) pname,
        (select pno from product where pid=inventory.pid) pno,
        (select price from product where pid=inventory.pid) price,
        (select cost from product where pid=inventory.pid) cost,
        available,
        waittodelivery
        from inventory where whid=#{whid};
    </select>

</mapper>