<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koliday.sap.mapper.OrderMapper">


    <select id="selectInquiryCount" resultType="java.lang.Integer">
        select count(*) from inquiry;
    </select>
    <select id="selectQuotationCount" resultType="java.lang.Integer">
        select count(*) from quotation;
    </select>
    <select id="selectSalesOrderCount" resultType="java.lang.Integer">
        select count(*) from salesorder;
    </select>
    <select id="selectItemCount" resultType="java.lang.Integer">
        select count(*) from item;
    </select>

    <insert id="createInquiry" useGeneratedKeys="true" keyProperty="inid" parameterType="com.koliday.sap.entity.InquiryEntity">
        insert into inquiry values(null,#{inquiry.inno},#{inquiry.client},#{inquiry.creator},#{inquiry.createdate},#{inquiry.netvalue},#{inquiry.expectprofit},#{inquiry.validfrom},#{inquiry.validto},#{inquiry.ifhavequo});
    </insert>

    <insert id="createInquiryItem" parameterType="java.util.List">
        insert into item
        (itemno,pid,quantity,price,netvalue,probability,expectprofit,inid)
        values
        <foreach collection="itemlist" item="item" index="index" separator=",">
            (
            #{item.itemno},
            #{item.pid},
            #{item.quantity},
            #{item.price},
            #{item.netvalue},
            #{item.probability},
            #{item.expectprofit},
            #{item.inid}
            )
        </foreach>
    </insert>

    <select id="getAllInquiry" resultType="com.koliday.sap.dto.InquiryDTO">
        select inid,inno,(select clname from client where clid=client) client,(select username from user where uid=creator) creator,createdate from inquiry where creator=#{uid};
    </select>

    <select id="getInquiry" resultType="com.koliday.sap.dto.InquiryDTO">
        select inid,inno,(select clno from client where clid=client) client,(select username from user where uid=creator) creator,createdate,netvalue,expectprofit,validfrom,validto from inquiry where inid=#{inid};
    </select>

    <select id="getInquiryItem" resultType="com.koliday.sap.dto.InquiryItemDTO">
        select itemid,itemno,(select pname from product where product.pid=item.pid) pname,quantity,netvalue,probability,expectprofit from item where inid=#{inid};
    </select>

    <select id="getQuotationRefInquiry" resultType="com.koliday.sap.dto.InquiryDTO">
        select inid,inno,(select clname from client where clid=client) client,(select username from user where uid=creator) creator,createdate from inquiry where creator=#{uid} and ifhavequo=0;
    </select>

    <insert id="createQuotation" useGeneratedKeys="true" keyProperty="quid" parameterType="com.koliday.sap.entity.QuotationEntity">
        insert into quotation values(null,#{quotation.quno},#{quotation.inid},(select client from inquiry where inquiry.inid= #{quotation.inid}),#{quotation.creator},#{quotation.createdate},(select inquiry.netvalue from inquiry where inquiry.inid= #{quotation.inid}),#{quotation.expectvalue},#{quotation.discount},#{quotation.netdiscount},#{quotation.itemdiscount},#{quotation.validfrom},#{quotation.validto},#{quotation.reqdate},#{quotation.ifhaveor});
    </insert>

    <update id="createQuotationItem" parameterType="com.koliday.sap.dto.QuotationItemDTO">
        update item set itemdiscount=#{item.discount},quid= #{item.quid} where itemid=#{item.itemid};
    </update>

    <update id="updateInquiryStatus" parameterType="com.koliday.sap.entity.QuotationEntity">
        update inquiry set ifhavequo=1 where inid=#{quotation.inid};
    </update>

    <select id="getAllQuotation" resultType="com.koliday.sap.dto.QuotationDTO">
        select quid,quno,(select clname from client where clid=client) client,(select username from user where uid=creator) creator,createdate from quotation where creator=#{uid};
    </select>

    <select id="getQuotation" resultType="com.koliday.sap.dto.QuotationDTO">
        select quid,quno,inid,(select clno from client where clid=client) client,(select username from user where uid=creator) creator,createdate,netvalue,expectvalue,discount,netdiscount,itemdiscount,validfrom,validto,reqdate from quotation where quid=#{quid};
    </select>

    <select id="getQuotationItem" resultType="com.koliday.sap.dto.QuotationItemDTO">
        select itemid,itemno,(select pname from product where product.pid=item.pid) pname,quantity,netvalue,itemdiscount discount from item where quid=#{quid};
    </select>

    <select id="getSalesOrderRefQuotation" resultType="com.koliday.sap.dto.QuotationDTO">
        select quid,quno,(select clname from client where clid=client) client,(select username from user where uid=creator) creator,createdate from quotation where creator=#{uid} and ifhaveor=0;
    </select>

    <insert id="createSalesOrder" useGeneratedKeys="true" keyProperty="orid" parameterType="com.koliday.sap.entity.QuotationEntity">
        insert into salesorder values(null,#{order.orno},#{order.quid},(select client from quotation where quotation.quid= #{order.quid}),#{order.creator},#{order.createdate},(select quotation.expectvalue from quotation where quotation.quid= #{order.quid}),#{order.validfrom},#{order.validto},#{order.reqdate},#{order.ifinvoice},#{order.ifhavedlv});
    </insert>

    <update id="updateQuotationStatus" parameterType="java.lang.Integer">
        update quotation set ifhaveor=1 where quid=#{quid};
    </update>

    <update id="createSalesOrderItem" parameterType="java.lang.Integer">
        update item set orid=#{orid} where quid=#{quid};
    </update>

    <select id="getAllSalesOrder" resultType="com.koliday.sap.dto.SalesOrderDTO">
        select orid,orno,(select clname from client where clid=client) client,(select username from user where uid=creator) creator,createdate from salesorder where creator=#{uid};
    </select>

    <select id="getSalesOrder" resultType="com.koliday.sap.dto.SalesOrderDTO">
        select orid,orno,quid,(select clno from client where clid=client) client,(select username from user where uid=creator) creator,createdate,netvalue,(select discount from quotation where quotation.quid=salesorder.quid) discount,(select netdiscount from quotation where quotation.quid=salesorder.quid) netdiscount,(select itemdiscount from quotation where quotation.quid=salesorder.quid) itemdiscount,validfrom,validto,reqdate from salesorder where orid=#{orid};
    </select>

    <select id="getSalesOrderItem" resultType="com.koliday.sap.dto.SalesOrderItemDTO">
        select itemid,itemno,(select pname from product where product.pid=item.pid) pname,quantity,netvalue,itemdiscount discount from item where orid=#{orid};
    </select>
    
    
    
</mapper>


