<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koliday.sap.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.koliday.sap.mapper.UserMapper">
        <id column="uid" jdbcType="INTEGER" property="uid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="passWord" jdbcType="CHAR" property="password" />
        <result column="eid" jdbcType="INTEGER" property="eid" />
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <select id="login" resultType="com.koliday.sap.entity.UserEntity">
        select * from user where username = #{username} and status=1
    </select>

    <insert id="register" parameterType="com.koliday.sap.entity.UserEntity">
        insert into user values(null,#{user.username},#{user.password},#{user.eid},#{user.status})
    </insert>

    <select id="getEmployeeByEno" resultType="com.koliday.sap.entity.EmployeeEntity">
        select * from employee where eno = #{eno} and status=1
    </select>

    <select id="getUserByEno" resultType="com.koliday.sap.entity.UserEntity">
        select * from user where eid=(select eid from employee where eno=#{eno}) and status=1
    </select>

    <select id="getEmployeeByEid" resultType="com.koliday.sap.entity.EmployeeEntity">
        select * from employee where eid=#{eid} and status=1
    </select>
    <select id="getUserByUid" resultType="com.koliday.sap.entity.UserEntity">
        select * from user where uid=#{uid}
    </select>

    <select id="getFiveYearInquiry" resultType="com.koliday.sap.dto.FiveYearInquiryDTO">
        select year(createdate) year,count(*) count from inquiry where creator=#{uid} group by year(createdate) order by year(createdate) desc limit 5;
    </select>
    <select id="getFiveYearOrder" resultType="com.koliday.sap.dto.FiveYearOrderDTO">
        select year(createdate) year,count(*) count from salesorder where creator=#{uid} group by year(createdate) order by year(createdate) desc limit 5;
    </select>

    <select id="getPersonalInfo" resultType="com.koliday.sap.dto.PersonalInfoDTO">
        select eid,eno,ename,level,contact,address,leaderid,(select eno from employee e2 where e2.eid=e1.leaderid) leaderno,(select ename from employee e2 where e2.eid=e1.leaderid) leadername,status from employee e1 where eid=(select eid from user where uid=#{uid});
    </select>

    <select id="getOrderQuantity" resultType="java.lang.Integer">
        select count(*) from salesorder where month(createdate)=month(now()) and creator=#{uid};
    </select>
    <select id="getInqQuantity" resultType="java.lang.Integer">
        select count(*) from inquiry where month(createdate)=month(now()) and creator=#{uid};
    </select>

    <select id="getTotalRevenue" resultType="java.math.BigDecimal">
        select sum(netvalue) from salesorder where month(createdate)=month(now()) and creator=#{uid};
    </select>

    <select id="getTotalCost" resultType="java.math.BigDecimal">
        select sum(cost*quantity) from item a left join salesorder b on a.orid=b.orid left join product c on a.pid=c.pid where month(b.createdate)=month(now()) and creator=#{uid};
    </select>

    <select id="getNewClientCount" resultType="java.lang.Integer">
        select count(*) from client where month(createtime)=month(now()) and creator=#{uid};
    </select>

<select id="getBestSellingProduct" resultType="com.koliday.sap.dto.ProductDTO">
     select distinct pname,pcategory,pno,c.price,sum(quantity) totalsale
    from item a
    left join salesorder b
    on a.orid=b.orid
    left join product c
    on a.pid=c.pid
    where   month(b.createdate)=month(now()) and pcategory=#{cat} and creator=#{uid}
    group by a.pid
    order by sale desc limit 3;
</select>

    <select id="getFiveYearConversionRateChart" resultType="com.koliday.sap.dto.FiveYearConversionRateDataDTO">
        select year(createdate),count(*)
    </select>


</mapper>