<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koliday.sap.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.koliday.sap.mapper.UserMapper">
        <id column="uid" jdbcType="INTEGER" property="uid" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="passWord" jdbcType="CHAR" property="password" />
        <result column="eid" jdbcType="INTEGER" property="eid" />
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <select id="login" resultType="com.koliday.sap.entity.UserEntity">
        select * from user where username = #{username} and status=1
    </select>

    <insert id="register" parameterType="com.koliday.sap.entity.UserEntity">
        insert into user values(null,#{user.username},#{user.password},#{user.eid},#{user.status})
    </insert>
</mapper>